body.login-page {
	background: @whiteThemeColor;
	overflow: hidden;
}

.login-logo { 
	position: relative;
	top: -142px;
	left: -50%;
	.rounded(5px, 5px, 0px, 0px);
	z-index: 2;
	padding: 10px 15px 10px 15px;
	background: @primaryThemeColor;
	
	span {
		font-size: 16px;
		color: @whiteThemeColor;
		position: relative;
		font-weight: 400;
		margin-left: 8px;
	}

	img {
		width: 75px;
	}
}

.login-panel { 
	position: absolute; 
	top: 40%;
	left: 50%;
}

.login-inner-panel { 
	position: relative; 
	top: -170px; 
	left: -50%; 
	background: @whiteThemeColor;
	padding: 25px;
	.rounded(5px);
	border: 1px solid @borderColor;
	
	.separator {
		color: @darkGreyThemeColor;
		text-align: center;
  		height: 1px; 
  		border-top: 0px solid #cdcdcd; 
  		position: relative;
  		margin: 20px 0px 5px;

		span { 
  			position: relative; 
  			top: -.7em; 
  			background: #f6f6f6; 
  			display: inline-block; 
  			padding: 0px 5px 0px 5px;
		}
	}		
}

.login-input {
	.ui-inputfield {
		padding: 2px 2px 2px 10px;
		height: 42px;
		margin-left: 40px;
		margin-bottom: -6px;
		width: 90%;
	}
	
	button {
		border: 1px solid @primaryThemeColor;
		padding: 6px !important;;
		background: @primaryThemeColor;
		color: @whiteThemeColor;
		width: 100%;

		span.ui-icon.fa {
			margin-top: -10px;
			padding-right: 5px;
		}
	}
	
	div {
		&.input-icon {
			position: relative;
			border: 1px solid #ccc;
			font-size: 20px;
			bottom: 36px;
			height: 42px;
			width: 42px;
			text-align: center;
			background: @lightGreyThemeColor;
			.rounded(3px, 0px, 3px, 0px);
			span.fa {
				margin-top: 10px;
			}
		}
	}
}

.login-error-message {
	margin-bottom: 10px;
}

.version {
	font-size: 12px !important;
	top: -35px !important;
}