
/* DataTable*/

.ui-datatable-header.ui-widget-header.ui-corner-top {
	font-size: 12px !important;
	font-weight: normal !important;
	text-align: left;
}

.ui-datatable .ui-datatable-header {
	padding: 9px 9px;
}

.ui-datatable .ui-datatable-footer {
	background: @primaryThemeColor;
	border: none;
	margin-top: -20px;
	font-weight: normal;
	padding: 6px;
	text-align: left;
}

.ui-datatable .ui-paginator {
	border: 1px solid @greyThemeColor;
	background: @whiteThemeColor;
	color: @primaryThemeColor;
	float: right;
	padding: 6px;
	margin-top: 10px;
	.rounded(@baseRadius);

	.ui-paginator {
		&-page, &-first, &-last, &-prev, &-next  {
			padding: 3px 6px 2px;
			border: 1px solid @greyThemeColor;

			&.ui-state-default {
				background: @whiteThemeColor;
				color: @primaryThemeColor;
			}
			&.ui-state-active {
				background: @primaryThemeColor;
				color: @whiteThemeColor;
			}
			&.ui-state-hover {
				color: @secondaryThemeColor;
			}
		}
	}

	.paginator-icon {
		background-image: none !important;
		text-indent: 2px !important;
		overflow: hidden;
	}

	.ui-icon {
		&-seek-prev {
			.icon("\e607", 14px, @primaryThemeColor);
			.paginator-icon;
		}
		&-seek-next {
			.icon("\e606", 14px, @primaryThemeColor);
			.paginator-icon;
		}
		&-seek-first {
			.icon("\e608", 14px, @primaryThemeColor);
			.paginator-icon;
		}
		&-seek-end {
			.icon("\e609", 14px, @primaryThemeColor);
			.paginator-icon;
		}
	}

	.ui-icon {
		position: relative;
		height: 12px;
		top: 2px;
		margin-top: -3px;
	}

	.ui-paginator-rpp-options {
		border: none;
		height: 17px;
		outline: none;
		.rounded(@baseRadius);
	}
}

.tableHeader() {
	background: none;
	background-color: @primaryThemeColor;
	font-family: @defaultFontFamily;
	color: @whiteThemeColor;
	text-align: left;
	padding: 5px 9px;
	font-size: 11px;
	border-color: lighten(@primaryThemeColor, 5%);
}

.ui-datatable-tablewrapper thead tr th {
	.tableHeader() !important;
}

.ui-datatable-tablewrapper {
	margin-bottom: 20px;
}

.ui-datatable table {
    border-spacing: 0px;
	border: 1px solid @primaryThemeColor;

	tbody td {
		border-top: 0px;
		border-right: 0px;
		text-align: center;
	}

    tr {
    	&:first-child th {
    		&:first-child { .rounded(@baseRadius, 0px, 0px, 0px); }
    		&:last-child { .rounded(0px, @baseRadius, 0px, 0px); }
    		&:only-child { .rounded(@baseRadius, @baseRadius, 0px, 0px); }
    	}
    	&:last-child td {
    		&:first-child { .rounded(0px, 0px, @baseRadius, 0px); }
    		&:last-child { .rounded(0px, 0px, 0px, @baseRadius); }
    		&:only-child { .rounded(0px, 0px, @baseRadius, @baseRadius); }
    	}
    	th {
    		&:last-child { border-right: 1px solid @primaryThemeColor; }
    		&:only-child { border-right: 1px solid @primaryThemeColor; }
    	}
    	td {
    		&:last-child { border-right: 1px solid #bbb; }
    		&:only-child { border-right: 1px solid #bbb; }
    	}
    }
}

.ui-datatable {
	.ui-column-filter { margin: 3px 0; }
	.ui-column-filter.ui-inputfield { padding: 0px; width: 60px; }
	tfoot .ui-inputfield {
		margin-bottom: 0px !important;
		text-align: left;
	}
	tfoot td {
		border: none;
	}

  	tr.ui-state-highlight {
		border: 1px solid #bbb;
		background: darken(@greyThemeColor, 20%);
  	}

	.ui-state-highlight, .ui-state-hover {
		background: @lightGreyThemeColor;
		color: black;
	}
}

.ui-rowgroup-header {
	background: #466B8E;
	border: 1px solid #466B8E !important;

	td {
		border-right: 1px solid #466B8E !important;
		text-align: left !important;
	}
}

/* Input */

.ui-selectonemenu, .ui-inputfield.ui-state-default {
	background: none !important;
	background-color: @whiteThemeColor !important;
	color: @darkGreyThemeColor !important;
	border-color: @borderColor !important;
}

.ui-outputlabel.ui-state-error {
	background: none;
	color: @errorColor;
}

.ui-selectoneradio tr {
	float: left;
}

/* Dialog */

.ui-dialog.ui-widget-content .ui-dialog-title, .ui-panel-titlebar {
	font-size: 12px !important;
	font-weight: normal !important;
}

.ui-dialog-content.ui-widget-content {
	min-width: 400px;
}

.ui-confirm-dialog .ui-dialog-buttonpane {
	text-align: right;
}

.ui-dialog .dialog-footer {
	margin: 0px auto;
	padding-top: 15px;
}

.single-field-dialog {
	.ui-dialog-content.ui-widget-content {
		min-width: inherit;
		padding: 15px;
		text-align: center;

		button { margin-top: 15px; }
	}
}

/* Panel */

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-image: none;
	background-color: @primaryThemeColor;
	color: @whiteThemeColor;
}

.ui-panelgrid tr, .ui-panelgrid-odd, .ui-panelgrid-even, .ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

fieldset {
	legend {
		border: none !important;
		background: none !important;
		font-size: 14px;
		color: @darkGreyThemeColor !important;
	}

	.ui-fieldset-toggler {
		.icon("\e333");
		margin-right: 5px;
	}
	.ui-fieldset-content {
		display: inline-block;
		padding-top: 5px;
		width: 100%;

		table {
			margin: 0px;
			td {
				padding-right: 15px;
			}
		}
	}
}

.form-button-panel {
	display: table;
	float: right;
	margin-right: 50px;
	div {
		display: table-cell;
		padding-right: 10px;
	}
}

.ui-datalist-content {
	border: none;
	background: none;
}

.ui-timer {
	background: none;
	border: none;
	color: #000;
}

/* Button */

.ui-button-icon-only {
	background: none !important;
	border: none !important;

	&.ui-state-hover {
		background: none !important;
	}

	span.ui-icon {
		color: @defaultIconColor !important;
		font-size: 16px !important;

		&:hover {
			background: none !important;
			color: @secondaryThemeColor !important;
			.transition-duration();
		}
	}

	&.ui-state-disabled {
		span.ui-icon:hover {
			color: @defaultIconColor !important;
		}
	}
}

.ui-progressbar {
	height: 30px;
}

/* Menu */

.ui-tieredmenu {
	background: @menuBackgroundColor;
	border: 1px solid @menuBorderColor;
	border-radius: 0px;
	padding: 0px;
	width: @leftMenuWidth;
	position: fixed;

	.ui-menuitem-text {
		font-size: 13px;
		font-family: @defaultFontFamily;
		margin-top: 10px;
		color: @menuTextColor;
		width: 100%;
		text-align: center;
	}

	.ui-menuitem-link {
		border-radius: 0px;
		border-width: 0px 0px 1px 0px;
		width: 100%;
		padding: 15px 0px 15px 0px;
		border-bottom-color: @menuBorderColor;

		.ui-menuitem-icon {
			display: block;
			margin: 0px auto;
			float: none;
		}
	}
}


.ui-menu .ui-menu-parent .ui-menu-child {
	border: none;
	border-radius: @baseRadius;
	padding: 0px;
	box-shadow: none;
	width: 100%;
	background: rgba(47, 53, 62, 0.9);

	.ui-menuitem-link {
		border: none;
	}
	.ui-menuitem-text {
		margin: 2px 10px;
		color: @whiteThemeColor;
	}

	.ui-state-hover .ui-menuitem-text {
		color: @primaryThemeColor;
	}
}

.ui-menubutton {
	button {
		height: @headerHeight;
		border: none;
		border-radius: 0px;
		float: right;
		color: @whiteThemeColor;
		background: none !important;
		&.ui-state-hover {
			.menu-state-hover() !important;
		}

		span {
			&.ui-button-text {
				font-family: @defaultFontFamily;
				font-size: 12px;
				color: @whiteThemeColor !important;
			}
		}
	}
}

.ui-menu-dynamic {
	border-radius: 0px;
	padding: 0px;
	.ui-menuitem { margin: 0px; }
	div& { border: 1px solid @greyThemeColor !important; }

	.ui-menuitem-link {
		padding: 8px;
		span {
			&.ui-menuitem-text {
				color: @darkGreyThemeColor;
				font-family: @defaultFontFamily;
				font-size: 12px;
				margin-left: 6px;
			}
			&.ui-menuitem-icon {
				color: @darkGreyThemeColor;
			}
		}

	}
	.ui-state-hover {
		background: @lightGreyThemeColor;
		border-radius: 0px;
	}
	&.ui-shadow {
		box-shadow: none;
	}
}

.ui-menu-dynamic.ui-contextmenu .ui-menuitem-link {
	padding: 4px;
}

.menu-state-hover() {
	background: @menuHoverColor;
	.transition-duration(0.8s);
	span {
		&.ui-menuitem-icon { color: @menuIconHoverColor; }
		&.ui-menuitem-text { color: @menuTextHoverColor; }
	}
}

.ui-menuitem-link.ui-state-hover {
	.menu-state-hover();
}

.top-button-menu .ui-button .ui-button-text {
	line-height: 0px;
	margin-left: 25px;
}

#userMenu_button {
	width: 50px;
}

.ui-button-icon-left.ui-icon.ui-c.ui-icon-triangle-1-s {
	#userMenu_button & {
		.icon("\f013", 24px, @darkGreyThemeColor, @darkGreyThemeColor);
		margin-left: 15px;
	}

	color: @darkGreyThemeColor !important;
	left: -2px;
	top: 25px;
}

#userMenu_menu > ul > li:nth-child(1) .ui-state-disabled {
	opacity: 1;
	span {
		color: @secondaryThemeColor;
		font-size: 14px;
	}
}

.top-button-menu .ui-button .ui-button-text {
	line-height: 0px;
	margin-left: 15px;
}

/* Message */

.message(@type, @color, @iconCode) {
	.ui-messages-@{type} {
	  background: none;
	  color: @color;
	  .ui-messages-@{type}-icon {
		  .icon(@iconCode, 40px, @color, @color);
		  width: 24px;
		  height: 100%;
		  display: inline-block;
		  padding: 2px;
		  font-size: 22px;
		  position: relative;
	  }
	}
}

.message(info, @infoColor, "\f05a");
.message(error, @errorColor, "\f057");

.ui-messages-error.ui-corner-all li {
	text-align: left;
}

.ui-messages-error {
	border: none;
	padding: 0px;
	margin: 0px;
}

.ui-messages-error-summary {
	font-weight: normal !important;
	margin-left: 20px;
}

  /* Icons */
.ui-growl-icon-close.ui-icon.ui-icon-closethick {
	display: block !important;
	&.ui-growl-icon-close { .icon("\e069", 16px, #ffffff, #d3d3d3); }
}

.ui-icon-check {
	.icon("\e208", 12px);
	position: absolute;
	margin: 2px 2px;
	.transition-duration(0s);
}

.ui-button-icon-only {
	.ui-icon { font-size: 12px; }
	.ui-button-text { padding: 0px; }
}

.ui-sortable-column {
	&.ui-state-hover { border: 1px solid @primaryThemeColor; }
	&.ui-state-active { border: 1px solid @primaryThemeColor; }
}

.ui-sortable-column-icon.ui-icon.ui-icon-carat-2-n-s {
	.icon("\f0dc", 12px, @whiteThemeColor, @secondaryThemeColor);
	top: 3px;
	margin-left: 5px;
	position: relative;
}

/* Header Panel */
.header-panel {
	border: none !important;
	background: #fff;
	padding: 20px;
	clear: both;
	.shadow-bottom();

	.header-panel-top {
		height: 20px;
	}

	.header-panel-button {
		position: relative;
		float: right;
		button span { text-transform: uppercase; }
	}

	.header-panel-title {
		position: relative;
	  	float: left;
	  	label {
			font-size: 24px !important;
			font-family: open-sans-bold;
			color: @darkGreyThemeColor !important;
	  	}
	}

	.header-panel-content {
		margin-left: 20px;

	  	table {
			margin-left: 0px;
	  	}
	}
}

.ui-datagrid-content {
	border: none;
}

.ui-growl-title {
	font-family: open-sans-bold;
}

.ui-dialog-content {
	table {
		padding: 4px;
		tr td {
			padding: 2px;
		}
	}
}