/* Variables */

@defaultFontFamily: open-sans-regular;

@primaryThemeColor: #2d353a;
@secondaryThemeColor: #4e88be;
 
@whiteThemeColor: #ffffff;
@lightGreyThemeColor: #e9ecee;
@darkGreyThemeColor: #2d353a;

@defaultIconColor: #466B8E;
@defaultIconHoverColor: @darkGreyThemeColor;
@borderColor: #f4f4f4;
@headerBackgroundColor: #f8f8f8;
@headerLogoBackgroundColor: @primaryThemeColor;

@headerHeight: 60px;

@menuBackgroundColor: #2f353e;
@menuBorderColor: @menuBackgroundColor;
@menuHoverColor: #3b424b;
@menuIconColor: #979a9f;
@menuIconSize: 24px;

